In [1]:
!pip install pywin32

Requirement already satisfied: pywin32 in c:\users\vinic\anaconda3\lib\site-packages (306)

In [4]:
import win32com.client as client
import pandas as pd
import datetime as dt

In [7]:
tabela = pd.read_excel('ContasPython.xlsx')
display(tabela)
tabela.info()

,CPF,Valor em Aberto,Data prevista para pagamento,Satus,email,NF
0,XXX.XXX.XXX-XX,1200,2022-04-20,Em Aberto,vinicius_boldrin@hotmail.com,1
1,XXX.XXX.XXX-XX,1300,2022-04-20,Em Aberto,vini.boldrin@hotmail.com,2
2,XXX.XXX.XXX-XX,890,2022-04-20,Em Aberto,antonioboldrin704@gmail.com,3
3,XXX.XXX.XXX-XX,1100,2022-04-20,Em Aberto,psi.barbarabittencourt@gmail.com,4
4,XXX.XXX.XXX-XX,5000,2022-04-20,Em Aberto,vivian.boldrin5@hotmail.com,5
5,XXX.XXX.XXX-XX,12000,2022-04-20,Em Aberto,vivian.boldrin@hotmail.com,6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CPF                           6 non-null      object
 1   Valor em Aberto               6 non-null      int64
 2   Data prevista para pagamento  6 non-null      datetime64[ns]
 3   Satus                         6 non-null      object
 4   email                         6 non-null      object
 5   NF                            6 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 416.0+ bytes